$color-gradient: linear-gradient(to top right, #ffc593, #bc7198, #5a77ff);
$color-black: #000000;
$color-grey: #dfdfdf;
$color-white: #ffffff;
$color-orange: #ffc593;
$color-purple: #bc7198;
$color-blue: #5a77ff;

$fs-heading-large: 40px;
$fs-heading-medium: 24px;
$fs-heading-small: 18px;
$fs-heading-xs: 12px;
$fs-body: 15px;

$breakpoint-large-desktop: 1200px;
$breakpoint-desktop: 1024px;
$breakpoint-tablet: 768px;
$breakpoint-phone: 640px;
